---
http_interactions:
- request:
    method: get
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=<PSN_CLIENT_ID>&redirect_uri=com.scee.psxandroid.scecompcall://redirect&response_type=code&scope=psn:mobile.v2.core%20psn:clientapp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      X-Psn-Request-Id:
      - 487327d72825be17300a6de69c3a26ca
      X-Psn-Correlation-Id:
      - 143ac383-d9e3-4c44-8f81-295625757610
      X-Requestid:
      - 487327d72825be17300a6de69c3a26ca
      X-Correlationid:
      - 143ac383-d9e3-4c44-8f81-295625757610
      Location:
      - com.scee.psxandroid.scecompcall://redirect/?code=v1.Ab23CD&cid=143ac383-d9e3-4c44-8f81-295625757610
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 25 Jul 2023 10:46:32 GMT
- request:
    method: post
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
    body:
      encoding: UTF-8
      string: code=v3.1dMUJl&grant_type=authorization_code&redirect_uri=com.scee.psxandroid.scecompcall%3A%2F%2Fredirect&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <PSN_BASIC>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Psn-Request-Id:
      - 86dee1cdf26e4dc40e3e527e6af83841
      X-Psn-Correlation-Id:
      - 47c1965b-0617-48d6-aea9-6cd5666cb973
      X-Requestid:
      - 86dee1cdf26e4dc40e3e527e6af83841
      X-Correlationid:
      - 47c1965b-0617-48d6-aea9-6cd5666cb973
    body:
      encoding: UTF-8
      string: '{"access_token":"accesstoken","token_type":"bearer","expires_in":3599,"scope":"psn:mobile.v2.core
        psn:clientapp","id_token":"idtoken","refresh_token":"refreshtoken","refresh_token_expires_in":5183999}'
  recorded_at: Tue, 25 Jul 2023 10:46:32 GMT
- request:
    method: get
    uri: https://ps5.np.playstation.net/api/trophy/v1/users/6796840136244039860/trophySummary
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <PSN_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"accountId":"6796840136244039860","trophyLevel":999,"trophyPoint":10027710,"trophyLevelBasePoint":1631340,"trophyLevelNextPoint":2147483647,"progress":0,"tier":10,"earnedTrophies":{"bronze":94864,"silver":49414,"gold":54827,"platinum":7293}}'
  recorded_at: Tue, 25 Jul 2023 10:46:33 GMT
recorded_with: VCR 6.1.0
