---
http_interactions:
- request:
    method: get
    uri: https://ps5.np.playstation.net/api/trophy/v1/users/6796840136244039860/npCommunicationIds/NPWR00694_00/trophyGroups?npServiceName=trophy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <PSN_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"trophySetVersion":"01.01","hiddenFlag":false,"progress":10,"earnedTrophies":{"bronze":3,"silver":0,"gold":0,"platinum":0},"lastUpdatedDateTime":"2011-10-15T13:30:30Z","trophyGroups":[{"trophyGroupId":"default","progress":14,"earnedTrophies":{"bronze":3,"silver":0,"gold":0,"platinum":0},"lastUpdatedDateTime":"2011-10-15T11:34:44Z"},{"trophyGroupId":"001","progress":0,"earnedTrophies":{"bronze":0,"silver":0,"gold":0,"platinum":0}}]}'
  recorded_at: Thu, 13 Jul 2023 19:45:55 GMT
recorded_with: VCR 6.1.0
