---
http_interactions:
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=<IGDB_CLIENT_ID>&client_secret=<IGDB_CLIENT_SECRET>&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ctxlog-Logid:
      - 1-657a11b6-2d8ddfdd319ad5035e02cc03
    body:
      encoding: UTF-8
      string: '{"access_token":"accesstoken","expires_in":4698019,"token_type":"bearer"}

        '
  recorded_at: Wed, 13 Dec 2023 20:19:02 GMT
recorded_with: VCR 6.1.0
