---
http_interactions:
- request:
    method: get
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=<PSN_CLIENT_ID>&redirect_uri=com.scee.psxandroid.scecompcall://redirect&response_type=code&scope=psn:mobile.v2.core%20psn:clientapp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      X-Psn-Request-Id:
      - 42d6d6784287002e88a43ab935a3df75
      X-Psn-Correlation-Id:
      - 131ac437-6c39-454f-8f42-3259c9251522
      X-Requestid:
      - 42d6d6784287002e88a43ab935a3df75
      X-Correlationid:
      - 131ac437-6c39-454f-8f42-3259c9251522
      Location:
      - com.scee.psxandroid.scecompcall://redirect/?code=v1.Ab23CD&cid=131ac437-6c39-454f-8f42-3259c9251522
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 26 Jul 2023 07:53:00 GMT
- request:
    method: post
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
    body:
      encoding: UTF-8
      string: code=v3.v2vFAl&grant_type=authorization_code&redirect_uri=com.scee.psxandroid.scecompcall%3A%2F%2Fredirect&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <PSN_BASIC>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Psn-Request-Id:
      - 3d15b3553ca85f383fb12a936773421a
      X-Psn-Correlation-Id:
      - 45152865-775e-4003-bde9-05d96306ca5e
      X-Requestid:
      - 3d15b3553ca85f383fb12a936773421a
      X-Correlationid:
      - 45152865-775e-4003-bde9-05d96306ca5e
    body:
      encoding: UTF-8
      string: '{"access_token":"accesstoken","token_type":"bearer","expires_in":3599,"scope":"psn:mobile.v2.core
        psn:clientapp","id_token":"idtoken","refresh_token":"refreshtoken","refresh_token_expires_in":5183999}'
  recorded_at: Wed, 26 Jul 2023 07:53:00 GMT
- request:
    method: get
    uri: https://us-prof.np.community.playstation.net/userProfile/v1/users/Hakoom/profile2?fields=npId,onlineId,accountId,avatarUrls,plus,aboutMe,languagesUsed,trophySummary(@default,level,progress,earnedTrophies),isOfficiallyVerified,personalDetail(@default,profilePictureUrls),personalDetailSharing,personalDetailSharingRequestMessageFlag,primaryOnlineStatus,presences(@default,@titleInfo,platform,lastOnlineDate,hasBroadcastData),requestMessageFlag,blocking,friendRelation,following,consoleAvailability
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <PSN_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"profile":{"onlineId":"Hakoom","accountId":"6796840136244039860","npId":"SGFrb29tQGEyLnVz","avatarUrls":[{"size":"l","avatarUrl":"http://static-resource.np.community.playstation.net/avatar/WWS_A/UP90001010001l.png"}],"plus":1,"aboutMe":"","languagesUsed":["en","en-GB"],"trophySummary":{"level":999,"progress":0,"earnedTrophies":{"platinum":7293,"gold":54827,"silver":49414,"bronze":94864}},"isOfficiallyVerified":false,"personalDetailSharing":"no","personalDetailSharingRequestMessageFlag":false,"friendRelation":"no","requestMessageFlag":false,"blocking":false,"following":false}}'
  recorded_at: Wed, 26 Jul 2023 07:53:01 GMT
recorded_with: VCR 6.1.0
