---
http_interactions:
- request:
    method: get
    uri: https://ps5.np.playstation.net/api/trophy/v1/users/6796840136244039860/npCommunicationIds/NPWR00117_00/trophyGroups/all/trophies?npServiceName=trophy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer accesstoken
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Bearer realm="PSN"
    body:
      encoding: UTF-8
      string: '{"error":{"referenceId":"1d6fa61f-27c9-11ee-b97f-c921f910f5e7","code":2241025,"message":"Invalid
        token"}}'
  recorded_at: Fri, 21 Jul 2023 13:18:40 GMT
- request:
    method: get
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=<PSN_CLIENT_ID>&redirect_uri=com.scee.psxandroid.scecompcall://redirect&response_type=code&scope=psn:mobile.v2.core%20psn:clientapp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      X-Psn-Request-Id:
      - f97b73b1148b35df244ad417cb680dde
      X-Psn-Correlation-Id:
      - 50ff161b-9705-4a2c-ae6a-283a87f1e47d
      X-Requestid:
      - f97b73b1148b35df244ad417cb680dde
      X-Correlationid:
      - 50ff161b-9705-4a2c-ae6a-283a87f1e47d
      Location:
      - com.scee.psxandroid.scecompcall://redirect/?code=v1.Ab23CD&cid=50ff161b-9705-4a2c-ae6a-283a87f1e47d
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 21 Jul 2023 13:18:40 GMT
- request:
    method: post
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
    body:
      encoding: UTF-8
      string: code=v3.MGL2WB&grant_type=authorization_code&redirect_uri=com.scee.psxandroid.scecompcall%3A%2F%2Fredirect&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <PSN_BASIC>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Psn-Request-Id:
      - dab9508c32739293aff63cc288efc8d0
      X-Psn-Correlation-Id:
      - a3c6295b-fb6a-4b94-ace6-79a1ea5889b6
      X-Requestid:
      - dab9508c32739293aff63cc288efc8d0
      X-Correlationid:
      - a3c6295b-fb6a-4b94-ace6-79a1ea5889b6
    body:
      encoding: UTF-8
      string: '{"access_token":"accesstoken","token_type":"bearer","expires_in":3599,"scope":"psn:mobile.v2.core
        psn:clientapp","id_token":"idtoken","refresh_token":"refreshtoken","refresh_token_expires_in":5183999}'
  recorded_at: Fri, 21 Jul 2023 13:18:41 GMT
- request:
    method: get
    uri: https://ps5.np.playstation.net/api/trophy/v1/users/6796840136244039860/npCommunicationIds/NPWR00117_00/trophyGroups/all/trophies?npServiceName=trophy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <PSN_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"trophySetVersion":"01.12","hasTrophyGroups":false,"lastUpdatedDateTime":"2008-07-16T10:59:08Z","trophies":[{"trophyId":0,"trophyHidden":false,"earned":true,"earnedDateTime":"2008-07-02T13:16:12Z","trophyType":"bronze","trophyRare":2,"trophyEarnedRate":"38.6"},{"trophyId":1,"trophyHidden":false,"earned":true,"earnedDateTime":"2008-07-02T13:31:15Z","trophyType":"bronze","trophyRare":2,"trophyEarnedRate":"30.0"},{"trophyId":2,"trophyHidden":false,"earned":true,"earnedDateTime":"2008-07-02T13:56:07Z","trophyType":"bronze","trophyRare":2,"trophyEarnedRate":"23.7"},{"trophyId":3,"trophyHidden":false,"earned":true,"earnedDateTime":"2008-07-02T14:14:20Z","trophyType":"bronze","trophyRare":2,"trophyEarnedRate":"16.4"},{"trophyId":4,"trophyHidden":fals[...]
