---
http_interactions:
- request:
    method: get
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=<PSN_CLIENT_ID>&redirect_uri=com.scee.psxandroid.scecompcall://redirect&response_type=code&scope=psn:mobile.v2.core%20psn:clientapp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      X-Psn-Request-Id:
      - d6f16d47e014717cea981dd4ddd1b7d3
      X-Psn-Correlation-Id:
      - 1830ea9a-a689-456d-929f-97ef9c4be807
      X-Requestid:
      - d6f16d47e014717cea981dd4ddd1b7d3
      X-Correlationid:
      - 1830ea9a-a689-456d-929f-97ef9c4be807
      Location:
      - com.scee.psxandroid.scecompcall://redirect/?code=v1.Ab23CD&cid=1830ea9a-a689-456d-929f-97ef9c4be807
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 13 Jul 2023 19:45:43 GMT
- request:
    method: post
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
    body:
      encoding: UTF-8
      string: code=v3.irSdKU&grant_type=authorization_code&redirect_uri=com.scee.psxandroid.scecompcall%3A%2F%2Fredirect&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <PSN_BASIC>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Psn-Request-Id:
      - c7980994cb7495909eaf04e0452d5e99
      X-Psn-Correlation-Id:
      - b74c5510-3815-4ed6-b313-ef057f08e0fc
      X-Requestid:
      - c7980994cb7495909eaf04e0452d5e99
      X-Correlationid:
      - b74c5510-3815-4ed6-b313-ef057f08e0fc
    body:
      encoding: UTF-8
      string: '{"access_token":"accesstoken","token_type":"bearer","expires_in":3599,"scope":"psn:mobile.v2.core
        psn:clientapp","id_token":"idtoken","refresh_token":"refreshtoken","refresh_token_expires_in":5183999}'
  recorded_at: Thu, 13 Jul 2023 19:45:43 GMT
- request:
    method: get
    uri: https://ps5.np.playstation.net/api/trophy/v1/users/6796840136244039860/trophySummary
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <PSN_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"accountId":"6796840136244039860","trophyLevel":999,"trophyPoint":10027530,"trophyLevelBasePoint":1631340,"trophyLevelNextPoint":2147483647,"progress":0,"tier":10,"earnedTrophies":{"bronze":94856,"silver":49412,"gold":54827,"platinum":7293}}'
  recorded_at: Thu, 13 Jul 2023 19:45:44 GMT
recorded_with: VCR 6.1.0
