---
http_interactions:
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=<IGDB_CLIENT_ID>&client_secret=<IGDB_CLIENT_SECRET>&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ctxlog-Logid:
      - 1-657a2256-7fac911f2fbe14386a63d588
    body:
      encoding: UTF-8
      string: '{"access_token":"accesstoken","expires_in":5690995,"token_type":"bearer"}

        '
  recorded_at: Wed, 13 Dec 2023 21:29:59 GMT
- request:
    method: post
    uri: https://api.igdb.com/v4/games
    body:
      encoding: UTF-8
      string: fields name, platforms.name, genres.name;search "The Last of Us";limit
        20;
    headers:
      Client-Id:
      - "<IGDB_CLIENT_ID>"
      Authorization:
      - Bearer <IGDB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - '094cf70e-f196-4a85-bdee-ee5e97cb6c7f'
      X-Amzn-Remapped-Content-Length:
      - '522'
      X-Amz-Apigw-Id:
      - P5pNzHxmPHcEtGg=
      X-Count:
      - '20'
      X-Amzn-Remapped-Date:
      - Wed, 13 Dec 2023 21:30:00 GMT
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "id": 26192,
            "genres": [
              {
                "id": 5,
                "name": "Shooter"
              },
              {
                "id": 31,
                "name": "Adventure"
              }
            ],
            "name": "The Last of Us Part II",
            "platforms": [
              {
                "id": 48,
                "name": "PlayStation 4"
              }
            ]
          },
          {
            "id": 1009,
            "genres": [
              {
                "id": 5,
                "name": "Shooter"
              },
              {
                "id": 31,
                "name": "Adventure"
              }
            ],
            "name": "The Last of Us",
            "platforms": [
              {
                "id": 9,
     [...]
