---
http_interactions:
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=<IGDB_CLIENT_ID>&client_secret=<IGDB_CLIENT_SECRET>&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ctxlog-Logid:
      - 1-658312a4-077aefc3384522991f6bf000
    body:
      encoding: UTF-8
      string: '{"access_token":"accesstoken","expires_in":5232561,"token_type":"bearer"}

        '
  recorded_at: Wed, 20 Dec 2023 16:13:22 GMT
- request:
    method: post
    uri: https://api.igdb.com/v4/games
    body:
      encoding: UTF-8
      string: fields name, platforms.name, genres.name;search "The Last of Us";where
        platforms = (48);limit 20;
    headers:
      Client-Id:
      - "<IGDB_CLIENT_ID>"
      Authorization:
      - Bearer <IGDB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 49d0b7ed-f6cc-461b-b13e-c821c15363eb
      X-Amzn-Remapped-Content-Length:
      - '317'
      X-Amz-Apigw-Id:
      - QP_Z1EutPHcEojQ=
      X-Count:
      - '8'
      X-Amzn-Remapped-Date:
      - Wed, 20 Dec 2023 16:13:25 GMT
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "id": 26192,
            "genres": [
              {
                "id": 5,
                "name": "Shooter"
              },
              {
                "id": 31,
                "name": "Adventure"
              }
            ],
            "name": "The Last of Us Part II",
            "platforms": [
              {
                "id": 48,
                "name": "PlayStation 4"
              }
            ]
          },
          {
            "id": 6036,
            "genres": [
              {
                "id": 5,
                "name": "Shooter"
              },
              {
                "id": 31,
                "name": "Adventure"
              }
            ],
            "name": "The Last of Us Remastered",
            "platforms": [
              {
                "id[...]
