---
http_interactions:
- request:
    method: post
    uri: https://api.igdb.com/v4/games
    body:
      encoding: UTF-8
      string: fields name;where id = 1009;
    headers:
      Client-Id:
      - "<IGDB_CLIENT_ID>"
      Authorization:
      - Bearer fake_expired_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 6297a7b1-b5cb-4e9e-834f-a2bcdcf56d83
      X-Amzn-Errortype:
      - AccessDeniedException
      X-Amz-Apigw-Id:
      - P5iDoEJtvHcEjWw=
    body:
      encoding: UTF-8
      string: |
        {
          "message": "Authorization Failure. Have you tried:",
          "Tip 1":   "Ensure you are sending Authorization and Client-ID as headers.",
          "Tip 2":   "Ensure Authorization value starts with 'Bearer ', including the space",
          "Tip 3":   "Ensure Authorization value ends with the App Access Token you generated, NOT your Client Secret.",
          "Docs":    "https://api-docs.igdb.com/#authentication",
          "Discord": "https://discord.gg/FrvfwQg"
        }
  recorded_at: Wed, 13 Dec 2023 20:41:08 GMT
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=<IGDB_CLIENT_ID>&client_secret=<IGDB_CLIENT_SECRET>&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ctxlog-Logid:
      - 1-657a16e5-2d4314952fa6b4617f57f400
    body:
      encoding: UTF-8
      string: '{"access_token":"accesstoken","expires_in":5427369,"token_type":"bearer"}

        '
  recorded_at: Wed, 13 Dec 2023 20:41:09 GMT
- request:
    method: post
    uri: https://api.igdb.com/v4/games
    body:
      encoding: UTF-8
      string: fields name;where id = 1009;
    headers:
      Client-Id:
      - "<IGDB_CLIENT_ID>"
      Authorization:
      - Bearer <IGDB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 03b96c7e-a4b8-471a-b86c-f51779f89b1a
      X-Amzn-Remapped-Content-Length:
      - '56'
      X-Amz-Apigw-Id:
      - P5iECG2iPHcEMbQ=
      X-Count:
      - '1'
      X-Amzn-Remapped-Date:
      - Wed, 13 Dec 2023 20:41:10 GMT
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "id": 1009,
            "name": "The Last of Us"
          }
        ]
  recorded_at: Wed, 13 Dec 2023 20:41:10 GMT
recorded_with: VCR 6.1.0
