---
http_interactions:
- request:
    method: get
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=<PSN_CLIENT_ID>&redirect_uri=com.scee.psxandroid.scecompcall://redirect&response_type=code&scope=psn:mobile.v2.core%20psn:clientapp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      X-Psn-Request-Id:
      - '0292c2e35fcd7ae73b126655d27d2f3e'
      X-Psn-Correlation-Id:
      - 2c652ad7-a826-465e-af6b-88575cd8967b
      X-Requestid:
      - '0292c2e35fcd7ae73b126655d27d2f3e'
      X-Correlationid:
      - 2c652ad7-a826-465e-af6b-88575cd8967b
      Location:
      - com.scee.psxandroid.scecompcall://redirect/?code=v1.Ab23CD&cid=2c652ad7-a826-465e-af6b-88575cd8967b
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 25 Jul 2023 10:47:50 GMT
- request:
    method: post
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
    body:
      encoding: UTF-8
      string: code=v3.Sll0cP&grant_type=authorization_code&redirect_uri=com.scee.psxandroid.scecompcall%3A%2F%2Fredirect&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <PSN_BASIC>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Psn-Request-Id:
      - 17eb1aed0cd5672e8b637c9871ac8555
      X-Psn-Correlation-Id:
      - f357871b-706c-4f59-9d43-5d003958c430
      X-Requestid:
      - 17eb1aed0cd5672e8b637c9871ac8555
      X-Correlationid:
      - f357871b-706c-4f59-9d43-5d003958c430
    body:
      encoding: UTF-8
      string: '{"access_token":"accesstoken","token_type":"bearer","expires_in":3599,"scope":"psn:mobile.v2.core
        psn:clientapp","id_token":"idtoken","refresh_token":"refreshtoken","refresh_token_expires_in":5183999}'
  recorded_at: Tue, 25 Jul 2023 10:47:50 GMT
- request:
    method: get
    uri: https://m.np.playstation.com/api/userProfile/v1/internal/users/6796840136244039860/profiles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <PSN_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Psn-Track-Id:
      - '0917063558094964906'
    body:
      encoding: UTF-8
      string: '{"onlineId":"Hakoom","aboutMe":"","avatars":[{"size":"s","url":"http://static-resource.np.community.playstation.net/avatar_s/WWS_A/UP90001010001s.png"},{"size":"xl","url":"http://static-resource.np.community.playstation.net/avatar_xl/WWS_A/UP90001010001_XL.png"},{"size":"l","url":"http://static-resource.np.community.playstation.net/avatar/WWS_A/UP90001010001l.png"},{"size":"m","url":"http://static-resource.np.community.playstation.net/avatar_m/WWS_A/UP90001010001m.png"}],"languages":["ar-AE","en-US","en-GB"],"isPlus":true,"isOfficiallyVerified":false,"isMe":false}'
  recorded_at: Tue, 25 Jul 2023 10:47:51 GMT
recorded_with: VCR 6.1.0
