---
http_interactions:
- request:
    method: get
    uri: https://m.np.playstation.com/api/userProfile/v1/internal/users/6796840136244039860/profiles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <PSN_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Psn-Track-Id:
      - '0818900180357494485'
    body:
      encoding: UTF-8
      string: '{"onlineId":"Hakoom","aboutMe":"","avatars":[{"size":"s","url":"http://static-resource.np.community.playstation.net/avatar_s/WWS_A/UP90001010001s.png"},{"size":"xl","url":"http://static-resource.np.community.playstation.net/avatar_xl/WWS_A/UP90001010001_XL.png"},{"size":"l","url":"http://static-resource.np.community.playstation.net/avatar/WWS_A/UP90001010001l.png"},{"size":"m","url":"http://static-resource.np.community.playstation.net/avatar_m/WWS_A/UP90001010001m.png"}],"languages":["ar-AE","en-US","en-GB"],"isPlus":true,"isOfficiallyVerified":false,"isMe":false}'
  recorded_at: Wed, 19 Jul 2023 13:19:26 GMT
recorded_with: VCR 6.1.0
