---
http_interactions:
- request:
    method: get
    uri: https://ps5.np.playstation.net/api/trophy/v1/users/6796840136244039860/trophyTitles?limit=10&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <PSN_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"trophyTitles":[{"npServiceName":"trophy2","npCommunicationId":"NPWR22810_00","trophySetVersion":"01.00","trophyTitleName":"Diablo
        IV","trophyTitleIconUrl":"https://psnobj.prod.dl.playstation.net/psnobj/NPWR22810_00/5ada1d24-434d-450b-ad6f-374bc6566d46.png","trophyTitlePlatform":"PS5","hasTrophyGroups":false,"definedTrophies":{"bronze":7,"silver":12,"gold":6,"platinum":1},"progress":4,"earnedTrophies":{"bronze":1,"silver":1,"gold":0,"platinum":0},"hiddenFlag":false,"lastUpdatedDateTime":"2023-07-13T18:46:52Z"},{"npServiceName":"trophy","npCommunicationId":"NPWR33794_00","trophySetVersion":"01.00","trophyTitleName":"Kawaii
        Slime Arena","trophyTitleDetail":"Kawaii Slime Arena Trophy Set","trophyTitleIconUrl":"https://image.api.playstation.com/trophy/np/NPWR33794_00_0019C857CA25E82839C80C5E808C8BEEF5169D4AE6/6B86BCC124F450DC42DD51D7D075AA05D4DC64CA.PNG","trophyTitlePlatform":"PS4","hasTrophyGroups":false,"definedTrophies":{"bronze":4,"silver":9,"gold":8,"platinum":1},"progress":100,"earnedTrophies":{"bronze":4,"silver":9,"gold":8,"platinum":1},"hiddenFlag":false,"lastUpdatedDateTime":"2023-07-13T17:34:18Z"},{"npServiceName":"trophy","npCommunicatio[...]
