---
http_interactions:
- request:
    method: get
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=<PSN_CLIENT_ID>&redirect_uri=com.scee.psxandroid.scecompcall://redirect&response_type=code&scope=psn:mobile.v2.core%20psn:clientapp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      X-Psn-Request-Id:
      - de9bfb60b44399ed375adc5452723d65
      X-Psn-Correlation-Id:
      - a3ef18c2-564d-4dfc-b47e-0f10a7a9c570
      X-Requestid:
      - de9bfb60b44399ed375adc5452723d65
      X-Correlationid:
      - a3ef18c2-564d-4dfc-b47e-0f10a7a9c570
      Location:
      - com.scee.psxandroid.scecompcall://redirect/?code=v1.Ab23CD&cid=a3ef18c2-564d-4dfc-b47e-0f10a7a9c570
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 19 Jul 2023 13:19:11 GMT
- request:
    method: post
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
    body:
      encoding: UTF-8
      string: code=v3.XOEIhg&grant_type=authorization_code&redirect_uri=com.scee.psxandroid.scecompcall%3A%2F%2Fredirect&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <PSN_BASIC>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Psn-Request-Id:
      - ee53cbd1a1eaffbb4a73b3844d722728
      X-Psn-Correlation-Id:
      - b7467fd9-53d5-478b-9015-80b22fd76484
      X-Requestid:
      - ee53cbd1a1eaffbb4a73b3844d722728
      X-Correlationid:
      - b7467fd9-53d5-478b-9015-80b22fd76484
    body:
      encoding: UTF-8
      string: '{"access_token":"accesstoken","token_type":"bearer","expires_in":3599,"scope":"psn:mobile.v2.core
        psn:clientapp","id_token":"idtoken","refresh_token":"refreshtoken","refresh_token_expires_in":5183999}'
  recorded_at: Wed, 19 Jul 2023 13:19:12 GMT
recorded_with: VCR 6.1.0
