---
http_interactions:
- request:
    method: get
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=<PSN_CLIENT_ID>&redirect_uri=com.scee.psxandroid.scecompcall://redirect&response_type=code&scope=psn:mobile.v2.core%20psn:clientapp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      X-Psn-Request-Id:
      - ce8a74e23346f5bbe351e1ab433dc6de
      X-Psn-Correlation-Id:
      - 24c9eb19-9bb7-49db-b3c2-d0d61ea7c1c0
      X-Requestid:
      - ce8a74e23346f5bbe351e1ab433dc6de
      X-Correlationid:
      - 24c9eb19-9bb7-49db-b3c2-d0d61ea7c1c0
      Location:
      - com.scee.psxandroid.scecompcall://redirect/?code=v1.Ab23CD&cid=24c9eb19-9bb7-49db-b3c2-d0d61ea7c1c0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 25 Jul 2023 10:46:28 GMT
- request:
    method: post
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
    body:
      encoding: UTF-8
      string: code=v3.SE07TF&grant_type=authorization_code&redirect_uri=com.scee.psxandroid.scecompcall%3A%2F%2Fredirect&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <PSN_BASIC>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Psn-Request-Id:
      - 4263e0b3b26507424c571ca47e515333
      X-Psn-Correlation-Id:
      - ed2fe323-f481-4723-88e0-09666a492d36
      X-Requestid:
      - 4263e0b3b26507424c571ca47e515333
      X-Correlationid:
      - ed2fe323-f481-4723-88e0-09666a492d36
    body:
      encoding: UTF-8
      string: '{"access_token":"accesstoken","token_type":"bearer","expires_in":3599,"scope":"psn:mobile.v2.core
        psn:clientapp","id_token":"idtoken","refresh_token":"refreshtoken","refresh_token_expires_in":5183999}'
  recorded_at: Tue, 25 Jul 2023 10:46:28 GMT
recorded_with: VCR 6.1.0
