---
http_interactions:
- request:
    method: get
    uri: https://ps5.np.playstation.net/api/trophy/v1/users/6796840136244039860/npCommunicationIds/NPWR22792_00/trophyGroups/all/trophies?npServiceName=trophy2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <PSN_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"trophySetVersion":"01.00","hasTrophyGroups":false,"lastUpdatedDateTime":"2021-02-14T22:07:32Z","trophies":[{"trophyId":0,"trophyHidden":false,"earned":false,"trophyType":"platinum","trophyRare":0,"trophyEarnedRate":"0.1"},{"trophyId":1,"trophyHidden":false,"earned":true,"earnedDateTime":"2021-02-02T22:21:43Z","trophyType":"bronze","trophyRare":1,"trophyEarnedRate":"6.0"},{"trophyId":2,"trophyHidden":false,"earned":false,"progress":"4","progressRate":19,"progressedDateTime":"2021-02-03T20:56:29Z","trophyType":"gold","trophyRare":0,"trophyEarnedRate":"1.1"},{"trophyId":3,"trophyHidden":false,"earned":true,"earnedDateTime":"2021-02-03T21:15:47Z","trophyType":"gold","trophyRare":1,"trophyEarnedRate":"14.4"},{"trophyId":4,"trophyHidden":false,"earned":true,"earnedDateTime":"2021-02-02T22:50:22Z","trophyType":"bronze","trophyRare":0,"trophyEarnedRate":"3.9"},{"trophyId":5,"trophyHidden":false,"earned":true,"earnedDateTime":"2021-02-02T22:56:32Z","trophyType":"bronze","t[...]
