---
http_interactions:
- request:
    method: get
    uri: https://ps5.np.playstation.net/api/trophy/v1/users/6796840136244039860/npCommunicationIds/NPWR22792_00/trophies/1?npServiceName=trophy2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <PSN_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"trophyId":1,"earned":true,"earnedDateTime":"2021-02-02T22:21:43Z","trophyRare":1,"trophyEarnedRate":"6.0"}'
  recorded_at: Thu, 13 Jul 2023 19:45:55 GMT
recorded_with: VCR 6.1.0
