---
http_interactions:
- request:
    method: get
    uri: https://ps5.np.playstation.net/api/trophy/v1/users/6796840136244039860/trophySummary
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer fake_expired_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Bearer realm="PSN"
    body:
      encoding: UTF-8
      string: '{"error":{"referenceId":"c6df6413-21b5-11ee-85ee-653028e07284","code":2241025,"message":"Invalid
        token"}}'
  recorded_at: Thu, 13 Jul 2023 19:45:07 GMT
- request:
    method: get
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=<PSN_CLIENT_ID>&redirect_uri=com.scee.psxandroid.scecompcall://redirect&response_type=code&scope=psn:mobile.v2.core%20psn:clientapp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      X-Psn-Request-Id:
      - '0459902f9532bd246d112f35b6c12c63'
      X-Psn-Correlation-Id:
      - a4572570-842f-4029-978e-f04962b9f59e
      X-Requestid:
      - '0459902f9532bd246d112f35b6c12c63'
      X-Correlationid:
      - a4572570-842f-4029-978e-f04962b9f59e
      Location:
      - com.scee.psxandroid.scecompcall://redirect/?code=v1.Ab23CD&cid=a4572570-842f-4029-978e-f04962b9f59e
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 13 Jul 2023 19:45:08 GMT
- request:
    method: post
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
    body:
      encoding: UTF-8
      string: code=v3.5UFZb3&grant_type=authorization_code&redirect_uri=com.scee.psxandroid.scecompcall%3A%2F%2Fredirect&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <PSN_BASIC>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Psn-Request-Id:
      - 7b1e4f75a6cf85dea91a25535505b6fd
      X-Psn-Correlation-Id:
      - 20f5602a-c92b-40aa-979c-eb9b8e2e778f
      X-Requestid:
      - 7b1e4f75a6cf85dea91a25535505b6fd
      X-Correlationid:
      - 20f5602a-c92b-40aa-979c-eb9b8e2e778f
    body:
      encoding: UTF-8
      string: '{"access_token":"accesstoken","token_type":"bearer","expires_in":3599,"scope":"psn:mobile.v2.core
        psn:clientapp","id_token":"idtoken","refresh_token":"refreshtoken","refresh_token_expires_in":5183999}'
  recorded_at: Thu, 13 Jul 2023 19:45:08 GMT
- request:
    method: get
    uri: https://ps5.np.playstation.net/api/trophy/v1/users/6796840136244039860/trophySummary
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <PSN_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"accountId":"6796840136244039860","trophyLevel":999,"trophyPoint":10027530,"trophyLevelBasePoint":1631340,"trophyLevelNextPoint":2147483647,"progress":0,"tier":10,"earnedTrophies":{"bronze":94856,"silver":49412,"gold":54827,"platinum":7293}}'
  recorded_at: Thu, 13 Jul 2023 19:45:08 GMT
recorded_with: VCR 6.1.0
