---
http_interactions:
- request:
    method: get
    uri: https://ps5.np.playstation.net/api/trophy/v1/users/6796840136244039860/trophySummary
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer fake_expired_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Bearer realm="PSN"
    body:
      encoding: UTF-8
      string: '{"error":{"referenceId":"aef95441-263d-11ee-b05a-33ff050f982e","code":2241025,"message":"Invalid
        token"}}'
  recorded_at: Wed, 19 Jul 2023 14:08:05 GMT
- request:
    method: get
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=<PSN_CLIENT_ID>&redirect_uri=com.scee.psxandroid.scecompcall://redirect&response_type=code&scope=psn:mobile.v2.core%20psn:clientapp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      X-Psn-Request-Id:
      - 037fa6979f08cb52ea84028e90af10c1
      X-Psn-Correlation-Id:
      - 25f2ecde-dd70-4d05-a0c3-d8bf088dfd3e
      X-Requestid:
      - 037fa6979f08cb52ea84028e90af10c1
      X-Correlationid:
      - 25f2ecde-dd70-4d05-a0c3-d8bf088dfd3e
      Location:
      - com.scee.psxandroid.scecompcall://redirect/?code=v1.Ab23CD&cid=25f2ecde-dd70-4d05-a0c3-d8bf088dfd3e
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 19 Jul 2023 14:08:06 GMT
- request:
    method: post
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
    body:
      encoding: UTF-8
      string: code=v3.Cz7Cd2&grant_type=authorization_code&redirect_uri=com.scee.psxandroid.scecompcall%3A%2F%2Fredirect&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <PSN_BASIC>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Psn-Request-Id:
      - 9b99f83e1cb1440ec5b5e3a814935688
      X-Psn-Correlation-Id:
      - 108c2243-1eb4-43cc-a79f-ff531572aebf
      X-Requestid:
      - 9b99f83e1cb1440ec5b5e3a814935688
      X-Correlationid:
      - 108c2243-1eb4-43cc-a79f-ff531572aebf
    body:
      encoding: UTF-8
      string: '{"access_token":"accesstoken","token_type":"bearer","expires_in":3599,"scope":"psn:mobile.v2.core
        psn:clientapp","id_token":"idtoken","refresh_token":"refreshtoken","refresh_token_expires_in":5183999}'
  recorded_at: Wed, 19 Jul 2023 14:08:06 GMT
- request:
    method: get
    uri: https://ps5.np.playstation.net/api/trophy/v1/users/6796840136244039860/trophySummary
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <PSN_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"accountId":"6796840136244039860","trophyLevel":999,"trophyPoint":10027680,"trophyLevelBasePoint":1631340,"trophyLevelNextPoint":2147483647,"progress":0,"tier":10,"earnedTrophies":{"bronze":94862,"silver":49414,"gold":54827,"platinum":7293}}'
  recorded_at: Wed, 19 Jul 2023 14:08:06 GMT
recorded_with: VCR 6.1.0
