---
http_interactions:
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=<IGDB_CLIENT_ID>&client_secret=<IGDB_CLIENT_SECRET>&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ctxlog-Logid:
      - 1-657a26b0-1e41b3660dcd21ec7236df7d
    body:
      encoding: UTF-8
      string: '{"access_token":"accesstoken","expires_in":4730236,"token_type":"bearer"}

        '
  recorded_at: Wed, 13 Dec 2023 21:48:32 GMT
- request:
    method: post
    uri: https://api.igdb.com/v4/games
    body:
      encoding: UTF-8
      string: |-
        fields name, genres.name, platforms.platform_family.name,
                             platforms.name, release_dates.date, release_dates.game,
                             release_dates.platform, release_dates.region;where id = 1009;
    headers:
      Client-Id:
      - "<IGDB_CLIENT_ID>"
      Authorization:
      - Bearer <IGDB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 63135c50-0939-46f4-b8f5-828a3a0b3228
      X-Amzn-Remapped-Content-Length:
      - '676'
      X-Amz-Apigw-Id:
      - P5r7tFOfvHcEgBA=
      X-Count:
      - '1'
      X-Amzn-Remapped-Date:
      - Wed, 13 Dec 2023 21:48:33 GMT
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "id": 1009,
            "genres": [
              {
                "id": 5,
                "name": "Shooter"
              },
              {
                "id": 31,
                "name": "Adventure"
              }
            ],
            "name": "The Last of Us",
            "platforms": [
              {
                "id": 9,
                "name": "PlayStation 3",
                "platform_family": {
                  "id": 1,
                  "name": "PlayStation"
                }
              }
            ],
            "release_dates": [
              {
                "id": 106244,
                "date": 1371168000,
                "game": 1009,
                "platform": 9,
                "region": 2
              },
              {
                "id": 106245,
                "date": 1371168000,
                "game": 1009,
                "platform": 9,
                "region": 1
              }
            ]
          }
        ]
  recorded_at: Wed, 13 Dec 2023 21:48:32 GMT
recorded_with: VCR 6.1.0
