---
http_interactions:
- request:
    method: get
    uri: https://ps5.np.playstation.net/api/trophy/v1/users/6796840136244039860/npCommunicationIds/NPWR00117_00/trophyGroups/all/trophies?npServiceName=trophy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <PSN_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"trophySetVersion":"01.12","hasTrophyGroups":false,"lastUpdatedDateTime":"2008-07-16T10:59:08Z","trophies":[{"trophyId":0,"trophyHidden":false,"earned":true,"earnedDateTime":"2008-07-02T13:16:12Z","trophyType":"bronze","trophyRare":2,"trophyEarnedRate":"38.6"},{"trophyId":1,"trophyHidden":false,"earned":true,"earnedDateTime":"2008-07-02T13:31:15Z","trophyType":"bronze","trophyRare":2,"trophyEarnedRate":"30.0"},{"trophyId":2,"trophyHidden":false,"earned":true,"earnedDateTime":"2008-07-02T13:56:07Z","trophyType":"bronze","trophyRare":2,"trophyEarnedRate":"23.7"},{"trophyId":3,"trophyHidden":false,"earned":true,"earnedDateTime":"2008-07-02T14:14:20Z","trophyType":"bronze","trophyRare":2,"trophyEarnedRate":"16.4"},{"trophyId":4,"trophyHidden":fals[...]
