---
http_interactions:
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=<IGDB_CLIENT_ID>&client_secret=<IGDB_CLIENT_SECRET>&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ctxlog-Logid:
      - 1-65854c8b-49f649a06708349511eef76f
    body:
      encoding: UTF-8
      string: '{"access_token":"accesstoken","expires_in":5233873,"token_type":"bearer"}

        '
  recorded_at: Fri, 22 Dec 2023 08:44:58 GMT
- request:
    method: post
    uri: https://api.igdb.com/v4/games
    body:
      encoding: UTF-8
      string: |-
        fields name, genres.name, platforms.platform_family.name,
                             platforms.name, release_dates.date, release_dates.game,
                             release_dates.platform, release_dates.region;search "The Last of Us";where platforms = (48);limit 1;
    headers:
      Client-Id:
      - "<IGDB_CLIENT_ID>"
      Authorization:
      - Bearer <IGDB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 21c22d9c-6fee-4bb0-ad9e-c1bfdf85b2f6
      X-Amzn-Remapped-Content-Length:
      - '556'
      X-Amz-Apigw-Id:
      - QVjl9FkiPHcEYpQ=
      X-Count:
      - '8'
      X-Amzn-Remapped-Date:
      - Fri, 22 Dec 2023 08:45:00 GMT
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "id": 26192,
            "genres": [
              {
                "id": 5,
                "name": "Shooter"
              },
              {
                "id": 31,
                "name": "Adventure"
              }
            ],
            "name": "The Last of Us Part II",
            "platforms": [
              {
                "id": 48,
                "name": "PlayStation 4",
                "platform_family": {
                  "id": 1,
                  "name": "PlayStation"
                }
              }
            ],
            "release_dates": [
              {
                "id": 325918,
                "date": 1592524800,
                "game": 26192,
                "platform": 48,
                "region": 8
              }
            ]
          }
        ]
  recorded_at: Fri, 22 Dec 2023 08:44:59 GMT
recorded_with: VCR 6.1.0
