---
http_interactions:
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=<IGDB_CLIENT_ID>&client_secret=<IGDB_CLIENT_SECRET>&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ctxlog-Logid:
      - 1-657a16e2-0832cd8a1c2a6b230231480c
    body:
      encoding: UTF-8
      string: '{"access_token":"accesstoken","expires_in":4750686,"token_type":"bearer"}

        '
  recorded_at: Wed, 13 Dec 2023 20:41:06 GMT
- request:
    method: post
    uri: https://api.igdb.com/v4/games
    body:
      encoding: UTF-8
      string: fields name;where id = 1009;
    headers:
      Client-Id:
      - "<IGDB_CLIENT_ID>"
      Authorization:
      - Bearer <IGDB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 0fe2ccd0-a725-4270-aa44-70a36c1118c7
      X-Amzn-Remapped-Content-Length:
      - '56'
      X-Amz-Apigw-Id:
      - P5iDjEk-vHcEiCw=
      X-Count:
      - '1'
      X-Amzn-Remapped-Date:
      - Wed, 13 Dec 2023 20:41:07 GMT
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "id": 1009,
            "name": "The Last of Us"
          }
        ]
  recorded_at: Wed, 13 Dec 2023 20:41:07 GMT
recorded_with: VCR 6.1.0
