---
http_interactions:
- request:
    method: get
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=<PSN_CLIENT_ID>&redirect_uri=com.scee.psxandroid.scecompcall://redirect&response_type=code&scope=psn:mobile.v2.core%20psn:clientapp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      X-Psn-Request-Id:
      - 16f85af21eee5826682254b516a8affa
      X-Psn-Correlation-Id:
      - 9b7f4c51-b931-448f-842d-45899048f01a
      X-Requestid:
      - 16f85af21eee5826682254b516a8affa
      X-Correlationid:
      - 9b7f4c51-b931-448f-842d-45899048f01a
      Location:
      - com.scee.psxandroid.scecompcall://redirect/?code=v1.Ab23CD&cid=9b7f4c51-b931-448f-842d-45899048f01a
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 25 Jul 2023 10:47:49 GMT
- request:
    method: post
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
    body:
      encoding: UTF-8
      string: code=v3.Sc56Yu&grant_type=authorization_code&redirect_uri=com.scee.psxandroid.scecompcall%3A%2F%2Fredirect&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <PSN_BASIC>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Psn-Request-Id:
      - 59ca01ae7edb4ecdbabb473503db9cd1
      X-Psn-Correlation-Id:
      - 998e657c-3bd8-4131-a905-c16f6fb9f0e0
      X-Requestid:
      - 59ca01ae7edb4ecdbabb473503db9cd1
      X-Correlationid:
      - 998e657c-3bd8-4131-a905-c16f6fb9f0e0
    body:
      encoding: UTF-8
      string: '{"access_token":"accesstoken","token_type":"bearer","expires_in":3599,"scope":"psn:mobile.v2.core
        psn:clientapp","id_token":"idtoken","refresh_token":"refreshtoken","refresh_token_expires_in":5183999}'
  recorded_at: Tue, 25 Jul 2023 10:47:49 GMT
- request:
    method: get
    uri: https://us-prof.np.community.playstation.net/userProfile/v1/users/Hakoom/profile2?fields=npId,onlineId,accountId,avatarUrls,plus,aboutMe,languagesUsed,trophySummary(@default,level,progress,earnedTrophies),isOfficiallyVerified,personalDetail(@default,profilePictureUrls),personalDetailSharing,personalDetailSharingRequestMessageFlag,primaryOnlineStatus,presences(@default,@titleInfo,platform,lastOnlineDate,hasBroadcastData),requestMessageFlag,blocking,friendRelation,following,consoleAvailability
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <PSN_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"profile":{"onlineId":"Hakoom","accountId":"6796840136244039860","npId":"SGFrb29tQGEyLnVz","avatarUrls":[{"size":"l","avatarUrl":"http://static-resource.np.community.playstation.net/avatar/WWS_A/UP90001010001l.png"}],"plus":1,"aboutMe":"","languagesUsed":["en","en-GB"],"trophySummary":{"level":999,"progress":0,"earnedTrophies":{"platinum":7293,"gold":54827,"silver":49414,"bronze":94864}},"isOfficiallyVerified":false,"personalDetailSharing":"no","personalDetailSharingRequestMessageFlag":false,"friendRelation":"no","requestMessageFlag":false,"blocking":false,"following":false}}'
  recorded_at: Tue, 25 Jul 2023 10:47:49 GMT
recorded_with: VCR 6.1.0
