---
http_interactions:
- request:
    method: get
    uri: https://ps5.np.playstation.net/api/trophy/v1/users/6796840136244039860/npCommunicationIds/NPWR00160_00/trophyGroups/all/trophies?npServiceName=trophy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <PSN_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"trophySetVersion":"01.10","hasTrophyGroups":false,"lastUpdatedDateTime":"2009-05-29T21:03:35Z","trophies":[{"trophyId":0,"trophyHidden":false,"earned":true,"earnedDateTime":"2009-05-29T21:01:55Z","trophyType":"platinum","trophyRare":0,"trophyEarnedRate":"0.4"},{"trophyId":1,"trophyHidden":false,"earned":true,"earnedDateTime":"2009-01-27T20:21:15Z","trophyType":"bronze","trophyRare":3,"trophyEarnedRate":"75.2"},{"trophyId":2,"trophyHidden":false,"earned":true,"earnedDateTime":"2009-01-27T20:43:47Z","trophyType":"bronze","trophyRare":3,"trophyEarnedRate":"57.5"},{"trophyId":3,"trophyHidden":false,"earned":true,"earnedDateTime":"2009-01-27T20:54:59Z","trophyType":"bronze","trophyRare":2,"trophyEarnedRate":"44.3"},{"trophyId":4,"trophyHidden":false[...]
