---
http_interactions:
- request:
    method: get
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=<PSN_CLIENT_ID>&redirect_uri=com.scee.psxandroid.scecompcall://redirect&response_type=code&scope=psn:mobile.v2.core%20psn:clientapp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      X-Psn-Request-Id:
      - a4335f9a688c4abaf72fb623a477418b
      X-Psn-Correlation-Id:
      - b7ce39fa-46c0-4ac2-9464-fad04cbb78b8
      X-Requestid:
      - a4335f9a688c4abaf72fb623a477418b
      X-Correlationid:
      - b7ce39fa-46c0-4ac2-9464-fad04cbb78b8
      Location:
      - com.scee.psxandroid.scecompcall://redirect/?code=v1.Ab23CD&cid=b7ce39fa-46c0-4ac2-9464-fad04cbb78b8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 13 Jul 2023 19:44:46 GMT
- request:
    method: post
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
    body:
      encoding: UTF-8
      string: code=v3.q4cIUF&grant_type=authorization_code&redirect_uri=com.scee.psxandroid.scecompcall%3A%2F%2Fredirect&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <PSN_BASIC>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Psn-Request-Id:
      - 10e48ac86ed5550683f03f4f87141300
      X-Psn-Correlation-Id:
      - 84a97762-704e-4b47-856e-94146ff4898e
      X-Requestid:
      - 10e48ac86ed5550683f03f4f87141300
      X-Correlationid:
      - 84a97762-704e-4b47-856e-94146ff4898e
    body:
      encoding: UTF-8
      string: '{"access_token":"accesstoken","token_type":"bearer","expires_in":3599,"scope":"psn:mobile.v2.core
        psn:clientapp","id_token":"idtoken","refresh_token":"refreshtoken","refresh_token_expires_in":5183999}'
  recorded_at: Thu, 13 Jul 2023 19:44:46 GMT
recorded_with: VCR 6.1.0
