---
http_interactions:
- request:
    method: get
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=<PSN_CLIENT_ID>&redirect_uri=com.scee.psxandroid.scecompcall://redirect&response_type=code&scope=psn:mobile.v2.core%20psn:clientapp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      X-Psn-Request-Id:
      - f3411826b105d057b3fb2c0bea602e45
      X-Psn-Correlation-Id:
      - e9379f54-6bac-40cc-a80d-f917125bd55f
      X-Requestid:
      - f3411826b105d057b3fb2c0bea602e45
      X-Correlationid:
      - e9379f54-6bac-40cc-a80d-f917125bd55f
      Location:
      - com.scee.psxandroid.scecompcall://redirect/?code=v1.Ab23CD&cid=e9379f54-6bac-40cc-a80d-f917125bd55f
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 13 Dec 2023 20:41:10 GMT
- request:
    method: post
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
    body:
      encoding: UTF-8
      string: code=v3.4LgKyv&grant_type=authorization_code&redirect_uri=com.scee.psxandroid.scecompcall%3A%2F%2Fredirect&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <PSN_BASIC>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Psn-Request-Id:
      - a670e3aa0bb5e5cff891cad3b1983ebe
      X-Psn-Correlation-Id:
      - c25315f3-5abd-4e79-8021-f86402190df3
      X-Requestid:
      - a670e3aa0bb5e5cff891cad3b1983ebe
      X-Correlationid:
      - c25315f3-5abd-4e79-8021-f86402190df3
    body:
      encoding: UTF-8
      string: '{"access_token":"accesstoken","token_type":"bearer","expires_in":3599,"scope":"psn:mobile.v2.core
        psn:clientapp","id_token":"idtoken","refresh_token":"refreshtoken","refresh_token_expires_in":5183999}'
  recorded_at: Wed, 13 Dec 2023 20:41:11 GMT
- request:
    method: get
    uri: https://ps5.np.playstation.net/api/trophy/v1/users/6796840136244039860/trophySummary
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <PSN_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"accountId":"6796840136244039860","trophyLevel":999,"trophyPoint":10043325,"trophyLevelBasePoint":1631340,"trophyLevelNextPoint":2147483647,"progress":0,"tier":10,"earnedTrophies":{"bronze":95171,"silver":49523,"gold":54883,"platinum":7302}}'
  recorded_at: Wed, 13 Dec 2023 20:41:11 GMT
recorded_with: VCR 6.1.0
