---
http_interactions:
- request:
    method: get
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=<PSN_CLIENT_ID>&redirect_uri=com.scee.psxandroid.scecompcall://redirect&response_type=code&scope=psn:mobile.v2.core%20psn:clientapp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      X-Psn-Request-Id:
      - c9d39cb1671b7ddc3aaa91e026ec13fb
      X-Psn-Correlation-Id:
      - d604dd52-6c00-4642-aad6-dfbbcab11083
      X-Requestid:
      - c9d39cb1671b7ddc3aaa91e026ec13fb
      X-Correlationid:
      - d604dd52-6c00-4642-aad6-dfbbcab11083
      Location:
      - com.scee.psxandroid.scecompcall://redirect/?code=v1.Ab23CD&cid=d604dd52-6c00-4642-aad6-dfbbcab11083
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 19 Jul 2023 14:08:04 GMT
- request:
    method: post
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
    body:
      encoding: UTF-8
      string: code=v3.o83c6c&grant_type=authorization_code&redirect_uri=com.scee.psxandroid.scecompcall%3A%2F%2Fredirect&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <PSN_BASIC>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Psn-Request-Id:
      - fe1f0e052136801b5c189b47dd8c444f
      X-Psn-Correlation-Id:
      - e90d1841-962c-4009-a731-d8476559f06b
      X-Requestid:
      - fe1f0e052136801b5c189b47dd8c444f
      X-Correlationid:
      - e90d1841-962c-4009-a731-d8476559f06b
    body:
      encoding: UTF-8
      string: '{"access_token":"accesstoken","token_type":"bearer","expires_in":3599,"scope":"psn:mobile.v2.core
        psn:clientapp","id_token":"idtoken","refresh_token":"refreshtoken","refresh_token_expires_in":5183999}'
  recorded_at: Wed, 19 Jul 2023 14:08:04 GMT
- request:
    method: get
    uri: https://ps5.np.playstation.net/api/trophy/v1/users/6796840136244039860/trophySummary
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <PSN_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"accountId":"6796840136244039860","trophyLevel":999,"trophyPoint":10027680,"trophyLevelBasePoint":1631340,"trophyLevelNextPoint":2147483647,"progress":0,"tier":10,"earnedTrophies":{"bronze":94862,"silver":49414,"gold":54827,"platinum":7293}}'
  recorded_at: Wed, 19 Jul 2023 14:08:05 GMT
recorded_with: VCR 6.1.0
