---
http_interactions:
- request:
    method: get
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=<PSN_CLIENT_ID>&redirect_uri=com.scee.psxandroid.scecompcall://redirect&response_type=code&scope=psn:mobile.v2.core%20psn:clientapp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      X-Psn-Request-Id:
      - 926a6892d39b469fe51bad058ad5af51
      X-Psn-Correlation-Id:
      - 910b4984-2ea8-45aa-8b7a-5d8c004de170
      X-Requestid:
      - 926a6892d39b469fe51bad058ad5af51
      X-Correlationid:
      - 910b4984-2ea8-45aa-8b7a-5d8c004de170
      Location:
      - com.scee.psxandroid.scecompcall://redirect/?code=v1.Ab23CD&cid=910b4984-2ea8-45aa-8b7a-5d8c004de170
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 25 Jul 2023 10:47:41 GMT
- request:
    method: post
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
    body:
      encoding: UTF-8
      string: code=v3.DeEkF7&grant_type=authorization_code&redirect_uri=com.scee.psxandroid.scecompcall%3A%2F%2Fredirect&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <PSN_BASIC>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Psn-Request-Id:
      - e612f14e5331de2745576429b90fb5b3
      X-Psn-Correlation-Id:
      - 9aa0a30d-44df-44ec-a439-4d5726d4a36c
      X-Requestid:
      - e612f14e5331de2745576429b90fb5b3
      X-Correlationid:
      - 9aa0a30d-44df-44ec-a439-4d5726d4a36c
    body:
      encoding: UTF-8
      string: '{"access_token":"accesstoken","token_type":"bearer","expires_in":3599,"scope":"psn:mobile.v2.core
        psn:clientapp","id_token":"idtoken","refresh_token":"refreshtoken","refresh_token_expires_in":5183999}'
  recorded_at: Tue, 25 Jul 2023 10:47:42 GMT
- request:
    method: get
    uri: https://ps5.np.playstation.net/api/trophy/v1/users/6796840136244039860/npCommunicationIds/NPWR22792_00/trophyGroups/all/trophies?npServiceName=trophy2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <PSN_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"trophySetVersion":"01.00","hasTrophyGroups":false,"lastUpdatedDateTime":"2021-02-14T22:07:32Z","trophies":[{"trophyId":0,"trophyHidden":false,"earned":false,"trophyType":"platinum","trophyRare":0,"trophyEarnedRate":"0.1"},{"trophyId":1,"trophyHidden":false,"earned":true,"earnedDateTime":"2021-02-02T22:21:43Z","trophyType":"bronze","trophyRare":1,"trophyEarnedRate":"5.9"},{"trophyId":2,"trophyHidden":false,"earned":false,"progress":"4","progressRate":19,"progressedDateTime":"2021-02-03T20:56:29Z","trophyType":"gold","trophyRare":0,"trophyEarnedRate":"1.1"},{"trophyId":3,"trophyHidden":false,"earned":true,"earnedDateTime":"2021-02-03T21:15:47Z","trophyType":"gold","trophyRare":1,"trophyEarnedRate":"14.4"},{"trophyId":4,"trophyHidden":false,"earned":true,"earnedDateTime":"2021-02-02T22:50:22Z","trophyType":"bronze","trophyRare":0,"trophyEarnedRate":"3.9"},{"trophyId":5,"trophyHidden":false,"earned":true,"earnedDateTime":"2021-02-02T22:56:32Z","trophyType":"bronze","t[...]
