---
http_interactions:
- request:
    method: get
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=<PSN_CLIENT_ID>&redirect_uri=com.scee.psxandroid.scecompcall://redirect&response_type=code&scope=psn:mobile.v2.core%20psn:clientapp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      X-Psn-Request-Id:
      - 3350767c17ce1ead7044f40f55831cca
      X-Psn-Correlation-Id:
      - 8df0ba95-db35-48ec-9271-211b2d1ce5dd
      X-Requestid:
      - 3350767c17ce1ead7044f40f55831cca
      X-Correlationid:
      - 8df0ba95-db35-48ec-9271-211b2d1ce5dd
      Location:
      - com.scee.psxandroid.scecompcall://redirect/?code=v1.Ab23CD&cid=8df0ba95-db35-48ec-9271-211b2d1ce5dd
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 25 Jul 2023 10:47:47 GMT
- request:
    method: post
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
    body:
      encoding: UTF-8
      string: code=v3.7GCf4Y&grant_type=authorization_code&redirect_uri=com.scee.psxandroid.scecompcall%3A%2F%2Fredirect&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <PSN_BASIC>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Psn-Request-Id:
      - f13af037f536a327ceeb049492cf92c8
      X-Psn-Correlation-Id:
      - e71e74df-e36e-4971-bb86-336d7714cdff
      X-Requestid:
      - f13af037f536a327ceeb049492cf92c8
      X-Correlationid:
      - e71e74df-e36e-4971-bb86-336d7714cdff
    body:
      encoding: UTF-8
      string: '{"access_token":"accesstoken","token_type":"bearer","expires_in":3599,"scope":"psn:mobile.v2.core
        psn:clientapp","id_token":"idtoken","refresh_token":"refreshtoken","refresh_token_expires_in":5183999}'
  recorded_at: Tue, 25 Jul 2023 10:47:47 GMT
- request:
    method: get
    uri: https://ps5.np.playstation.net/api/trophy/v1/npCommunicationIds/NPWR00694_00/trophyGroups?npServiceName=trophy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <PSN_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"trophySetVersion":"01.01","trophyTitleName":"Mushroom Wars","trophyTitleDetail":"Mushroom
        Wars Trophies","trophyTitleIconUrl":"https://image.api.playstation.com/trophy/np/NPWR00694_00_003E80EDD2CA0E8B4023DC35B228F5663CE7F2E920/5D95EF11A55642F78D0509BDB3C106429E23380A.PNG","trophyTitlePlatform":"PS3","definedTrophies":{"bronze":18,"silver":5,"gold":0,"platinum":0},"trophyGroups":[{"trophyGroupId":"default","trophyGroupName":"Mushroom
        Wars","trophyGroupDetail":"Mushroom Wars Trophies","trophyGroupIconUrl":"https://image.api.playstation.com/trophy/np/NPWR00694_00_003E80EDD2CA0E8B4023DC35B228F5663CE7F2E920/5D95EF11A55642F78D0509BDB3C106429E23380A.PNG","definedTrophies":{"bronze":15,"silver":3,"gold":0,"platinum":0}},{"trophyGroupId":"001","trophyGroupName":"Mushroom
        Wars Online","trophyGroupDetail":"Mushroom Wars Online Trophies","trophyGroupIconUrl":"https://image.api.playstation.com/trophy/np/NPWR00694_00_003E80EDD2CA0E8B4023DC35B228F5663CE7F2E920/771646BE851996A1E883BEF6ECF19C55DDF1A22C.PNG","definedTrophies":{"bronze":3,"silver":2,"gold":0,"platinum":0}}]}'
  recorded_at: Tue, 25 Jul 2023 10:47:47 GMT
recorded_with: VCR 6.1.0
