---
http_interactions:
- request:
    method: get
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=<PSN_CLIENT_ID>&redirect_uri=com.scee.psxandroid.scecompcall://redirect&response_type=code&scope=psn:mobile.v2.core%20psn:clientapp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      X-Psn-Request-Id:
      - 773d6afa052302566060797fddd4be9c
      X-Psn-Correlation-Id:
      - cf1e53fc-a254-4377-9058-d704f49d31e7
      X-Requestid:
      - 773d6afa052302566060797fddd4be9c
      X-Correlationid:
      - cf1e53fc-a254-4377-9058-d704f49d31e7
      Location:
      - com.scee.psxandroid.scecompcall://redirect/?code=v1.Ab23CD&cid=cf1e53fc-a254-4377-9058-d704f49d31e7
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 25 Jul 2023 10:47:48 GMT
- request:
    method: post
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
    body:
      encoding: UTF-8
      string: code=v3.dv39HW&grant_type=authorization_code&redirect_uri=com.scee.psxandroid.scecompcall%3A%2F%2Fredirect&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <PSN_BASIC>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Psn-Request-Id:
      - 7c8c505da35169eedaac51b0ef66d585
      X-Psn-Correlation-Id:
      - 5e4639d4-ba26-4a3b-81b9-eb4b4a9bc87e
      X-Requestid:
      - 7c8c505da35169eedaac51b0ef66d585
      X-Correlationid:
      - 5e4639d4-ba26-4a3b-81b9-eb4b4a9bc87e
    body:
      encoding: UTF-8
      string: '{"access_token":"accesstoken","token_type":"bearer","expires_in":3599,"scope":"psn:mobile.v2.core
        psn:clientapp","id_token":"idtoken","refresh_token":"refreshtoken","refresh_token_expires_in":5183999}'
  recorded_at: Tue, 25 Jul 2023 10:47:48 GMT
- request:
    method: get
    uri: https://ps5.np.playstation.net/api/trophy/v1/users/6796840136244039860/npCommunicationIds/NPWR00694_00/trophyGroups?npServiceName=trophy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <PSN_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"trophySetVersion":"01.01","hiddenFlag":false,"progress":10,"earnedTrophies":{"bronze":3,"silver":0,"gold":0,"platinum":0},"lastUpdatedDateTime":"2011-10-15T13:30:30Z","trophyGroups":[{"trophyGroupId":"default","progress":14,"earnedTrophies":{"bronze":3,"silver":0,"gold":0,"platinum":0},"lastUpdatedDateTime":"2011-10-15T11:34:44Z"},{"trophyGroupId":"001","progress":0,"earnedTrophies":{"bronze":0,"silver":0,"gold":0,"platinum":0}}]}'
  recorded_at: Tue, 25 Jul 2023 10:47:48 GMT
recorded_with: VCR 6.1.0
