---
http_interactions:
- request:
    method: get
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=<PSN_CLIENT_ID>&redirect_uri=com.scee.psxandroid.scecompcall://redirect&response_type=code&scope=psn:mobile.v2.core%20psn:clientapp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      X-Psn-Request-Id:
      - b144e798f77ae9b71bc20f06a3581f11
      X-Psn-Correlation-Id:
      - 38803b61-1a7c-4711-b51a-29d7077accdf
      X-Requestid:
      - b144e798f77ae9b71bc20f06a3581f11
      X-Correlationid:
      - 38803b61-1a7c-4711-b51a-29d7077accdf
      Location:
      - com.scee.psxandroid.scecompcall://redirect/?code=v1.Ab23CD&cid=38803b61-1a7c-4711-b51a-29d7077accdf
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 13 Jul 2023 19:45:06 GMT
- request:
    method: post
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
    body:
      encoding: UTF-8
      string: code=v3.II1klu&grant_type=authorization_code&redirect_uri=com.scee.psxandroid.scecompcall%3A%2F%2Fredirect&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <PSN_BASIC>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Psn-Request-Id:
      - 984b35c5aeb1b6f25a43bd3fe5c00b40
      X-Psn-Correlation-Id:
      - 77e82fc8-582f-467b-9778-9546f99ec1b5
      X-Requestid:
      - 984b35c5aeb1b6f25a43bd3fe5c00b40
      X-Correlationid:
      - 77e82fc8-582f-467b-9778-9546f99ec1b5
    body:
      encoding: UTF-8
      string: '{"access_token":"accesstoken","token_type":"bearer","expires_in":3599,"scope":"psn:mobile.v2.core
        psn:clientapp","id_token":"idtoken","refresh_token":"refreshtoken","refresh_token_expires_in":5183999}'
  recorded_at: Thu, 13 Jul 2023 19:45:06 GMT
- request:
    method: get
    uri: https://ps5.np.playstation.net/api/trophy/v1/users/6796840136244039860/trophySummary
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <PSN_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"accountId":"6796840136244039860","trophyLevel":999,"trophyPoint":10027530,"trophyLevelBasePoint":1631340,"trophyLevelNextPoint":2147483647,"progress":0,"tier":10,"earnedTrophies":{"bronze":94856,"silver":49412,"gold":54827,"platinum":7293}}'
  recorded_at: Thu, 13 Jul 2023 19:45:06 GMT
recorded_with: VCR 6.1.0
