---
http_interactions:
- request:
    method: get
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=<PSN_CLIENT_ID>&redirect_uri=com.scee.psxandroid.scecompcall://redirect&response_type=code&scope=psn:mobile.v2.core%20psn:clientapp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      X-Psn-Request-Id:
      - a8ac753c08bad648263353d16cbc0704
      X-Psn-Correlation-Id:
      - 2e14eeb8-4398-4c8d-b97b-1f7ce18500e4
      X-Requestid:
      - a8ac753c08bad648263353d16cbc0704
      X-Correlationid:
      - 2e14eeb8-4398-4c8d-b97b-1f7ce18500e4
      Location:
      - com.scee.psxandroid.scecompcall://redirect/?code=v1.Ab23CD&cid=2e14eeb8-4398-4c8d-b97b-1f7ce18500e4
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 25 Jul 2023 10:47:46 GMT
- request:
    method: post
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
    body:
      encoding: UTF-8
      string: code=v3.xjZuv0&grant_type=authorization_code&redirect_uri=com.scee.psxandroid.scecompcall%3A%2F%2Fredirect&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <PSN_BASIC>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Psn-Request-Id:
      - 96564e72a07fb934772c5698adbde7fb
      X-Psn-Correlation-Id:
      - 496b1138-e0b0-4b1d-93ed-16d6fe06bab7
      X-Requestid:
      - 96564e72a07fb934772c5698adbde7fb
      X-Correlationid:
      - 496b1138-e0b0-4b1d-93ed-16d6fe06bab7
    body:
      encoding: UTF-8
      string: '{"access_token":"accesstoken","token_type":"bearer","expires_in":3599,"scope":"psn:mobile.v2.core
        psn:clientapp","id_token":"idtoken","refresh_token":"refreshtoken","refresh_token_expires_in":5183999}'
  recorded_at: Tue, 25 Jul 2023 10:47:46 GMT
- request:
    method: get
    uri: https://ps5.np.playstation.net/api/trophy/v1/users/6796840136244039860/npCommunicationIds/NPWR22792_00/trophies/1?npServiceName=trophy2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <PSN_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"trophyId":1,"earned":true,"earnedDateTime":"2021-02-02T22:21:43Z","trophyRare":1,"trophyEarnedRate":"5.9"}'
  recorded_at: Tue, 25 Jul 2023 10:47:46 GMT
recorded_with: VCR 6.1.0
