---
http_interactions:
- request:
    method: get
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=<PSN_CLIENT_ID>&redirect_uri=com.scee.psxandroid.scecompcall://redirect&response_type=code&scope=psn:mobile.v2.core%20psn:clientapp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      X-Psn-Request-Id:
      - 8039f157d1a9a1efcb5d5b424d2c07d1
      X-Psn-Correlation-Id:
      - c48836f7-b2e7-41c9-bc1e-7e22a3603332
      X-Requestid:
      - 8039f157d1a9a1efcb5d5b424d2c07d1
      X-Correlationid:
      - c48836f7-b2e7-41c9-bc1e-7e22a3603332
      Location:
      - com.scee.psxandroid.scecompcall://redirect/?code=v1.Ab23CD&cid=c48836f7-b2e7-41c9-bc1e-7e22a3603332
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 25 Jul 2023 10:47:44 GMT
- request:
    method: post
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
    body:
      encoding: UTF-8
      string: code=v3.8BAuMS&grant_type=authorization_code&redirect_uri=com.scee.psxandroid.scecompcall%3A%2F%2Fredirect&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <PSN_BASIC>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Psn-Request-Id:
      - a8021f88120613cc3f4adf5406178840
      X-Psn-Correlation-Id:
      - 84ded3bd-f2a8-4926-99dc-c6e0aba9016b
      X-Requestid:
      - a8021f88120613cc3f4adf5406178840
      X-Correlationid:
      - 84ded3bd-f2a8-4926-99dc-c6e0aba9016b
    body:
      encoding: UTF-8
      string: '{"access_token":"accesstoken","token_type":"bearer","expires_in":3599,"scope":"psn:mobile.v2.core
        psn:clientapp","id_token":"idtoken","refresh_token":"refreshtoken","refresh_token_expires_in":5183999}'
  recorded_at: Tue, 25 Jul 2023 10:47:45 GMT
- request:
    method: get
    uri: https://ps5.np.playstation.net/api/trophy/v1/npCommunicationIds/NPWR22792_00/trophies/0?npServiceName=trophy2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <PSN_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"trophySetVersion":"01.00","trophyId":0,"trophyHidden":false,"trophyType":"platinum","trophyName":"Hall
        of Fame","trophyDetail":"Unlock all Destruction AllStars Trophies","trophyIconUrl":"https://psnobj.prod.dl.playstation.net/psnobj/NPWR22792_00/22495328-c5ad-4cf1-be7c-e8be615a6c5b.png","trophyGroupId":"default","trophyRewardName":"Profile
        Banner","trophyRewardImageUrl":"https://psnobj.prod.dl.playstation.net/psnobj/NPWR22792_00/3433d6c0-fa6e-43e1-a557-c4d71f7c2400.png"}'
  recorded_at: Tue, 25 Jul 2023 10:47:45 GMT
recorded_with: VCR 6.1.0
