---
http_interactions:
- request:
    method: get
    uri: https://ps5.np.playstation.net/api/trophy/v1/users/6796840136244039860/trophyTitles?limit=10&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <PSN_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"trophyTitles":[{"npServiceName":"trophy","npCommunicationId":"NPWR39458_00","trophySetVersion":"01.00","trophyTitleName":"Gems
        of War","trophyTitleDetail":"This is the trophy pack for Gems of War","trophyTitleIconUrl":"https://image.api.playstation.com/trophy/np/NPWR39458_00_00B0D52086809B20D1A6F7037988158DC4112E90F3/6099E03905A7BA1E66CA10C5B9828483DD75F93D.PNG","trophyTitlePlatform":"PS4","hasTrophyGroups":true,"definedTrophies":{"bronze":1,"silver":1,"gold":0,"platinum":0},"progress":0,"earnedTrophies":{"bronze":0,"silver":0,"gold":0,"platinum":0},"hiddenFlag":false,"lastUpdatedDateTime":"2023-07-19T09:02:17Z"},{"npServiceName":"trophy2","npCommunicationId":"NPWR22810_00","trophySetVersion":"01.00","trophyTitleName":"Diablo
        IV","trophyTitleIconUrl":"https://psnobj.prod.dl.playstation.net/psnobj/NPWR22810_00/5ada1d24-434d-450b-ad6f-374bc6566d46.png","trophyTitlePlatform":"PS5","hasTrophyGroups":false,"definedTrophies":{"bronze":7,"silver":12,"gold":6,"platinum":1},"progress":14,"earnedTrophies":{"bronze":4,"silver":3,"gold":0,"platinum":0},"hiddenFlag":false,"lastUpdatedD[...]
