---
http_interactions:
- request:
    method: get
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=<PSN_CLIENT_ID>&redirect_uri=com.scee.psxandroid.scecompcall://redirect&response_type=code&scope=psn:mobile.v2.core%20psn:clientapp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      X-Psn-Request-Id:
      - 30968a95013d694887c43bd831bee9ad
      X-Psn-Correlation-Id:
      - e838b7cf-888f-4690-b7a6-856fe949c2c5
      X-Requestid:
      - 30968a95013d694887c43bd831bee9ad
      X-Correlationid:
      - e838b7cf-888f-4690-b7a6-856fe949c2c5
      Location:
      - com.scee.psxandroid.scecompcall://redirect/?code=v1.Ab23CD&cid=e838b7cf-888f-4690-b7a6-856fe949c2c5
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 25 Jul 2023 10:46:41 GMT
- request:
    method: post
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
    body:
      encoding: UTF-8
      string: code=v3.5x4jFB&grant_type=authorization_code&redirect_uri=com.scee.psxandroid.scecompcall%3A%2F%2Fredirect&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <PSN_BASIC>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Psn-Request-Id:
      - c610927f3b3df6e9a4ed57a8467fd08e
      X-Psn-Correlation-Id:
      - 948d3ef4-1b01-4379-a9db-d8b0fa34077c
      X-Requestid:
      - c610927f3b3df6e9a4ed57a8467fd08e
      X-Correlationid:
      - 948d3ef4-1b01-4379-a9db-d8b0fa34077c
    body:
      encoding: UTF-8
      string: '{"access_token":"accesstoken","token_type":"bearer","expires_in":3599,"scope":"psn:mobile.v2.core
        psn:clientapp","id_token":"idtoken","refresh_token":"refreshtoken","refresh_token_expires_in":5183999}'
  recorded_at: Tue, 25 Jul 2023 10:46:42 GMT
- request:
    method: get
    uri: https://ps5.np.playstation.net/api/trophy/v1/users/6796840136244039860/trophyTitles?limit=10&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <PSN_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"trophyTitles":[{"npServiceName":"trophy2","npCommunicationId":"NPWR22810_00","trophySetVersion":"01.00","trophyTitleName":"Diablo
        IV","trophyTitleIconUrl":"https://psnobj.prod.dl.playstation.net/psnobj/NPWR22810_00/5ada1d24-434d-450b-ad6f-374bc6566d46.png","trophyTitlePlatform":"PS5","hasTrophyGroups":false,"definedTrophies":{"bronze":7,"silver":12,"gold":6,"platinum":1},"progress":17,"earnedTrophies":{"bronze":6,"silver":3,"gold":0,"platinum":0},"hiddenFlag":false,"lastUpdatedDateTime":"2023-07-24T23:38:12Z"},{"npServiceName":"trophy","npCommunicationId":"NPWR39458_00","trophySetVersion":"01.00","trophyTitleName":"Gems
        of War","trophyTitleDetail":"This is the trophy pack for Gems of War","trophyTitleIconUrl":"https://image.api.playstation.com/trophy/np/NPWR39458_00_00B0D52086809B20D1A6F7037988158DC4112E90F3/6099E03905A7BA1E66CA10C5B9828483DD75F93D.PNG","trophyTitlePlatform":"PS4","hasTrophyGroups":true,"definedTrophies":{"bronze":1,"silver":1,"gold":0,"platinum":0},"progress":0,"earnedTrophies":{"bronze":0,"silver":0,"gold":0,"platinum":0},"hiddenFlag":false,"lastUpdatedDateTime":"2023-07-19T09:02:17Z"},{"npServiceName":"trophy","npCommu[...]
